@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    border: 2px solid red;
}

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
}

.exchange-panel{
    display: flex;
    flex-wrap: wrap;
}

.exchange-panel > * {
    flex: 1 1 40%;
    margin: 0.3rem;
    padding: 0.3rem;
}

.left{
    flex: 1 1 50%;
}

.right{
    flex: 1 1 50%;
}

.currency-rates{
    flex: 1 1 100%;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
   
}

#currency-table{
    flex: 1 1 auto;
    align-self: center;
    justify-self: center;
}

.table {
    margin: 5px;
    padding: 5px;
    text-align: center;
}